.heroContainer {
  position: relative;
  width: 100%;
  height: calc(100vh - 60px);
  overflow-x: clip;
  background-image: linear-gradient(
    to bottom, 
    var(--color-dark-bg) 2%,
    transparent 5%, 
    rgba(0,0,0,0.8) 15%,
    rgba(0,0,0,0.8) 70%,
    transparent 95%,
    var(--color-dark-bg) 96%
  );
}
.heroVideo {
  position: absolute;
  top: 0;
  left: -50%;
  z-index: -1;
  margin: 0 -2rem;
  width: auto;

  @media (min-width: 768px) {
    left: -10%;
  }
  
  @media (min-width: 1024px) {
    left: 0
  }
}

.videoElement {
  max-width: unset !important;
  width: auto;
  height: calc(100vh - 60px) !important;
  object-fit: cover;
  object-position: center;
}

.heroDisplay {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 20vh 10vw 0 10vw;
}

