.heroContainer {
  position: relative;
  width: 100%;
  height: calc(100vh - 60px);
  overflow-x: clip;
  background-image: linear-gradient(
    to bottom, 
    transparent, 
    rgba(0,0,0,0.8) 15%,
    rgba(0,0,0,0.8) 60%,
    transparent
  );

}
.heroVideo {
  position: absolute;
  top: 0;
  left: -50%;
  z-index: -1;
  margin: 0 -2rem;
  width: auto;
}

.videoElement {
  max-width: unset !important;
  width: auto;
  height: calc(100vh - 60px) !important;
  object-fit: cover;
  object-position: center;
}

.heroDisplay {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 30% 10% 0 10%;
}